<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/css/fontawesome/css/all.css}">
  <link rel="stylesheet" th:href="@{/css/default.css}">
  <title>Login</title>
</head>
<body class="d-flex align-items-center justify-content-center">

<!-- Card: Login Form Card -->
<div class="card login-form-card col-4 bg-transparent border-0">
  <!-- Card Body -->
  <div class="card-body">
    <!-- Form Header -->
    <h1 class="form-header card-title mb-3">
      <i class="fa fa-user-circle" style="color: black;"></i><span style="color:black;">Login</span>
    </h1>
    <!-- End Of Form Header -->

    <!-- Display Message -->
    <div th:if="${success != null}" class="alert alert-success text-center border border-success">
      <b th:text="${success}"></b>
    </div>
    <!-- End Of Display Message -->

    <!-- Display Message -->
    <div th:if="${error != null}" class="alert alert-danger text-center border border-danger">
      <b th:text="${error}"></b>
    </div>
    <!-- End Of Display Message -->

    <!-- Display Message -->
    <div th:if="${logged_out != null}" class="alert alert-info text-center border border-info">
      <b th:text="${logged_out}"></b>
    </div>
    <!-- End Of Display Message -->

    <!-- Login Form -->
    <form action="/login" method="POST" class="login-form">

      <!-- From Group -->
      <div class="form-group col">
        <input type="email" name="email" class="form-control form-control-lg" placeholder="Enter Email"/>
      </div>
      <!-- End Of From Group -->

      <!-- From Group -->
      <div class="form-group col">
        <input type="password" name="password" class="form-control form-control-lg" placeholder="Enter Password"/>
      </div>
      <!-- End Of From Group -->

      <!-- From Group -->
      <div class="form-group col">
        <input type="hidden" name="_token" th:value="${token}"/>
      </div>
      <!-- End Of From Group -->

      <!-- From Group -->
      <div class="form-group col">
        <button class="btn btn-lg">Login</button>
      </div>
      <!-- End Of From Group -->

    </form>
    <!-- End Of Login Form -->

    <!-- Card Text -->
    <p class="card-text text-white my-2">
      <span style="color: black;">Don't have an account?</span><span class="ms-2"><a href="/register" class="btn bt-sm text-warning"><font style="color: green">Sign Up</font></a></span>
    </p>
    <!-- Card Text -->

    <!-- Back Button To Landing Page -->
    <small class="text-warning">
      <i class="fa fa-arrow-alt-circle-left" style="color: green"></i> <a href="/" class="btn btn-sm text-warning"><font style="color: green;">Back</font></a>
    </small>
    <!-- End Of Back Button To Landing Page -->

  </div>
  <!-- End Of Card Body -->
</div>
<!-- Card: Login Form Card -->

</body>
</html>
