<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Easy-Way Bank</title>
  <!-- Add your CSS links and other head content here -->
</head>
<body>
<!-- Main Page Header -->

<header class="main-page-header mb-3 bg-primary">
  <!-- Container -->
  <div class="container d-flex align-items-center">
    <!-- Company Name -->
    <div class="company-name">
      Bank System
    </div>
    <!-- Company Name -->

    <!-- Navigation -->
    <nav class="navigation">
      <li><a href="/app/dashboard">Dashboard</a></li>
<!--      <li><a href="/app/payment_history">Payment History</a></li>-->
      <li><a href="/app/transact_history">Transaction History</a></li>
    </nav>
    <!-- End Of Navigation -->

    <!-- Display Name -->
    <div class="display-name ms-auto text-white">

<!--      End Of Display Name-->

    <!-- Log Out BUtton -->
    <a href="/logout" class="btn btn-sm text-white ms-2">
      <i class="fas fa-sign-out-alt " aria-hidden="true"></i> Sign Out
    </a>
    <!-- End Of Log Out BUtton -->
  </div>
  </div>
  <!-- End Of Container -->
</header>

<!-- End Of Main Page Header -->
</body>
</html>
